body {
    margin: 0;
 
}


.container {
    display: flex;
    height: 100vh;
    width: 1200px;
    padding: 30px;
    background-color: #F4E6D8;
}

.leftside {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f3cfcf;
    border: solid #F4C2C2;
    justify-content: center;
    
}


.welcomeimg {
    width: 300px;
    height: 300px;
    max-width: 100% ;
    object-fit: cover;
    transition: 0.6s ease-in-out;
 }

 .welcomeimg:hover{
    content: url("images/mecamera.jpg" );
    cursor: pointer;

 }

.rightside {
    width: 70%;
    padding: 20px;
    display: block;
    background-color: #F4E6D8;
    border: solid #F4C2C2;
    display: flex;
    flex-direction: column;
    position: relative;
    

}

.line {
    border-bottom: 2px solid #f7bebe;
}
.line1 {
    margin-bottom: 5px;
}

.line2 {
    margin-bottom: 10px;
}
.line3 {
    margin-top: 0px;
}
.line4 {
    margin-top: 0px;
}
.line5 {
    margin-top: 40px;
    position: absolute;
    top:90%;
    left: 50%;
    width: 780px;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: tangerine;
}

.rightside h1 {
    font-family: tangerine;
    text-align: center;
    font-size: 25px;
}

.fa-heart {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.fa-heart:hover {
    color:#f5a7a7;
    cursor: pointer;
}

.insidecontainer {
    display: flex;
    gap: 20px;
}

.rightsidetext h1 {
    font-family: tangerine;
    font-size: 50px;
}

.rightsidetext p {
    font-size: 16px;
    font-family: montserrat;
    flex: 1;

}

.rightsideimg {
    flex: 1;
    width: 100%;
    padding: 20px;
    padding-top:35px;
    align-items: center;

}

#interface {
    padding-top: 10px;
}

#interface #picker {
    padding: 5px;
    font-size: 14px;
    background-color:#f3cfcf;
    border-radius: 8px;
    border: 1.5px solid #f7bebe;
    cursor: pointer;
    font-family: montserrat;
}

#interface #picker:focus {
    outline: none;
}
