body {
    margin: 0;
    background-color: #0c0c16;
    color: #c9e8ff; 
}

/* #canvas-basic {　　// for granmin.js gradient
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
} */

.title {
/*     background-color: rgb(255, 236, 222);
 */ text-align: center;
    padding: 50px;
    color: #6666ff;
    font-size: 50px;
    font-family: silkscreen;
      /* font-family: Mori; */
    overflow:hidden;
}

.text {
    display: inline-block;
}

.title p {
    font-size: 20px;
    font-family: DM sans;
    color: #f0b9db;

}



main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap:20px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

.warn p {
    color: #b9f0d7;  /* #b8baff; */
    font-family: space mono;
    font-size: 23px;
    padding-bottom: 50px;
}

h2 {
    font-family: space mono;
    font-size: 24px;
}

p{
    font-family: DM sans;
}

.pink {
    color: #c979ba;
 
}


.material-symbols-outlined {
    color: white;
    padding: 0px;
    display: inline-block;
    margin: 20px 50px;
    font-size: 60px;
    cursor: grab;
    display: flex;
    transform: scale(3);
    display: inline-block;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 50
}



.questions {
    width: 40%;
}


.submit {
    color: white/* rgb(227, 192, 192) */;
    background-color: #3434c1/* rgb(164, 74, 74) */;
    border: none;
    border-radius: 8px ;
    width: 100px;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    display: block;
    margin: 100px  0 200px ;
}


.picframe {
    width: 30%;
    position: sticky;
    top: 50px;
    overflow: hidden;
    margin:0;
    width: 580px;
    height: 500px;
    cursor:pointer;
    display: block;
}



.picframe img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* glow frame */ 
@keyframes pulseGlow {
    0% {filter: drop-shadow(0px -4px 6px #e7e7e7);}
    50% {filter: drop-shadow(0px -4px 2px #e7e7e7)  drop-shadow(0 -4px 30px #b0b0b0);}
    100% {filter: drop-shadow(0px -4px 6px #e7e7e7);}



}

.picframe img.glow-active {
    max-width: 100%;
    height: auto;
    display: block;
    animation:pulseGlow 2s ease-in-out infinite;
    transform: none;

}


.question{
    padding-top: 200px;

}

.options{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}



/* overlay */

#ol-one{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}

#ol-one article {
    background-color: rgb(250, 250, 250)/* rgb(243, 236, 236) */;
    width: 50vw;
    padding: 20px 40px 40px 40px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#ol-one article h2 {
    color: #3434c1 /* rgb(164, 74, 74) */;
}

#ol-one article p {
    color: #3a3ab8 /* rgb(164, 74, 74) */;
}

#ol-one article button {
    color: white/* rgb(227, 192, 192) */;
    background-color: #3434c1/* rgb(164, 74, 74) */;
    border: none;
    border-radius: 8px ;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
   
}

/* overlay picframe */
#picframeoverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.7);
    z-index: 2000;
}

#picframeoverlay article {
    background-color: rgb(250, 250, 250)/* rgb(243, 236, 236) */;
    width: 50vw;
    padding: 20px 40px 40px 40px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#picframeoverlay article h2, p {
    color: #6666ff /* rgb(164, 74, 74) */;
}

#picframeoverlay article button {
    color: white/* rgb(227, 192, 192) */;
    background-color: #6666ff/* rgb(164, 74, 74) */;
    border: none;
    border-radius: 8px ;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
   
}


.hidden {
    display: none;
}

.showing {
    display: block;
}


