body {
    background-color: #f4e9f9;
    width: 550px;
    margin: auto;
    line-height: 1.8;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.block {
    display: block;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 20px;

}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    text-indent: 30px;
    font-size: 18px;
}