#myVideo {
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    

}

.grayscale {
    filter: grayscale(100%) ;

}

.video {
    position: relative;
}

.video:fullscreen {
    z-index: 1;
}


/* .fa-expand {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: white;
}

.fa-expand:hover {
    cursor: pointer;
} */

#lyrics {
    position: absolute;
    display: flex;
   /*  flex-direction: row; */
    gap: 10px;
    align-items: baseline;
    z-index: 10;
}

#dazed {
    position: relative;
    bottom: 0%;
    left: 10%;
    color:rgb(0, 30, 255);
    transition: opacity 2s ease-in-out;
    font-size: 60px;
}

#confused {
    position: absolute;
    top: 35%;
    left: 60%;
    color:rgb(255, 0, 0);
    transition: opacity 1s ease-in-out;
    font-size: 60px;
}

#dayimetyou {
/*     position: absolute;
 */ 
    position: absolute;   
    top: 85%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}

#lostmyhead {
/*     position: absolute;
 */ 
    position: absolute;   
    top: 145%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}

#seenthelight {
/*     position: absolute;
 */ 
    position: absolute;   
    top: 0%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}

#aboutyou {
/*     position: absolute;
 */ 
    position: absolute;   
    top: 95%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}

#dazednconfused {
/*     position: absolute;
 */ 
    position: absolute;   
    top: 0%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}





.hidden{
    opacity: 0;
}

.showing {
    opacity: 1;
}



