#myVideo {
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}


.video {
    position: relative;
}

#lyrics {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: baseline;
    z-index: 10;
    font-family: roboto;

}

#lyrics p:hover {
    color: brown;
    cursor: pointer;
}

#dazed {
    position: relative;
    bottom: 0%;
    left: 10%;
    color:rgb(0, 30, 255);
    transition: opacity 2s ease-in-out;
    font-size: 60px;
}

#confused {
    position: absolute;
    top: 35%;
    left: 60%;
    color:rgb(255, 0, 0);
    transition: opacity 1s ease-in-out;
    font-size: 60px;
}

#dayimetyou {
    position: absolute;   
    top: 85%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}

#lostmyhead {
    position: absolute;   
    top: 145%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}

#seenthelight {
    position: absolute;   
    top: 0%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}

#aboutyou {
    position: absolute;   
    top: 95%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}

#dazednconfused {
    position: absolute;   
    top: 0%;
    left: 10%;
    color:rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
    font-size: 40px;
}





.hidden{
    opacity: 0;
    visibility: hidden;
}

.showing {
    opacity: 1;
    visibility: visible;
    transition: color 0.2s ease 

}


